* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    margin-top: 50px;
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.page {
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 50%;
}

.page__current {
    border: 5px;
    background-color: aquamarine;
}

.navbar {
    background-color: aquamarine;
    height: 100px;
    width: 100vw;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__links {
    display: flex;
    column-gap: 30px;
}
